@model Trip
@{
    string dest = TempData["Destination"] as string;
    string accom = TempData["Accommodation"] as string;
    DateTime start = (DateTime)TempData["StartDate"];
    DateTime end = (DateTime)TempData["EndDate"];
    ViewBag.Title = "Add Info for " + dest;
}

<h2>@ViewBag.Title</h2>
<form method="post" asp-action="Page2">
    <div asp-validation-summary="All" class="text-danger"></div>
    <input type="hidden" asp-for="Destination" value="@dest";/>
    <input type="hidden" asp-for="Accommodation" value="@accom"; />
    <input type="hidden" asp-for="StartDate" value="@start"; />
    <input type="hidden" asp-for="EndDate" value="@end"; />

    <div class="form-group">
        <label id="phoneInput" asp-for="AccommodationPhone">Phone Number</label>
        <input asp-for="AccommodationPhone" class="form-control">
    </div><div class="form-group">
        <label asp-for="AccommodationEmail">Email Address</label>
        <input asp-for="AccommodationEmail" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Next</button>
    <a asp-controller="Trip" asp-action="Index" class="btn btn-danger">Cancel</a>
</form>
<!--loads js from wwwroot-->
<script src="~/js/site.js"></script>