@model Trip
@{
    string dest = TempData["Destination"] as string;
    string accom = TempData["Accommodation"] as string;
    DateTime start = (DateTime)TempData["StartDate"];
    DateTime end = (DateTime)TempData["EndDate"];
    string phone = TempData["AccommodationPhone"] as string;
    string email = TempData["AccommodationEmail"] as string;

    ViewBag.Title = "Add Things to do in "+dest;
}
<h2>@ViewBag.Title</h2>
<form method="post" asp-action="Page3">
    <div asp-validation-summary="All" class="text-danger"></div>

    <input type="hidden" asp-for="Destination" value="@dest" ; />
    <input type="hidden" asp-for="Accommodation" value="@accom" ; />
    <input type="hidden" asp-for="StartDate" value="@start" ; />
    <input type="hidden" asp-for="EndDate" value="@end" ; />
    <input type="hidden" asp-for="AccommodationPhone" value="@phone" ; />
    <input type="hidden" asp-for="AccommodationEmail" value="@email" ; />

    <div class="form-group">
        <input asp-for="ThingToDo1" class=" m-1 form-control">
    </div><div class="form-group">
        <input asp-for="ThingToDo2" class=" m-1 form-control">
    </div><div class="form-group">
        <input asp-for="ThingToDo3" class=" m-1 form-control">
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
    <a asp-controller="Trip" asp-action="Index" class="btn btn-danger">Cancel</a>
</form>